<ion-header>
    <ion-toolbar>
        <ion-avatar *ngIf="asyncClub" slot="start">
            <img [src]="asyncClub.logo" onError="this.src='./assets/icon/favicon.png'" alt="club icon"/>
        </ion-avatar>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of players" detail="true">
            <ion-avatar>
                <img [src]="item.player_photo" onError="this.src='./assets/icon/favicon.png'" alt="player icon"/>
            </ion-avatar>
            {{item.player_name}}
            <div padding-start><b>{{item.positions}}</b></div>
            <div slot="end">
                {{item.player_potential}}
            </div>
        </ion-item>
    </ion-list>
</ion-content>
